body{
  background-color: #293742;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.current {
  background-color: #0413189d !important;
}

.dndItem {
  background-color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.t-container {
  background-color: #293742 !important;
}

.navButton {
  margin-left: 20px !important;
  padding: 5px !important;
}

#dropdown-basic-button {
  margin-left: 20px !important;
}

#main-card {
  margin-left: 20% !important;
}