name: React-CI/CD

on:
  push:
    branches: [ main ]
    paths:
    - 'g34-covid-analyser/**'
    paths-ignore:
    - 'g34-covid-analyser/backend/**'
  pull_request:
    branches: [ main ]
    paths:
    - 'g34-covid-analyser/**'
    paths-ignore:
    - 'g34-covid-analyser/backend/**'

jobs:
  build:

    runs-on: ubuntu-latest
    env:
      working-directory: ./g34-covid-analyser

    strategy:
      matrix:
        node-version: [15.x]

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install dependencies
      run: npm install
      working-directory: ${{env.working-directory}}
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1
    - name: Build
      run: CI='' npm run build
      working-directory: ${{env.working-directory}}
    - name: Deploy
      working-directory: ${{env.working-directory}}
      run: |
        git config --global user.name $user_name
        git config --global user.email $user_email
        git remote set-url origin https://${github_token}@github.com/${repository}
        npm run deploy
      env:
        user_name: 'github-actions[bot]'
        user_email: 'github-actions[bot]@users.noreply.github.com'
        github_token: ${{ secrets.ACTIONS_DEPLOY_ACCESS_TOKEN }}
        repository: ${{ github.repository }}
       
